n8n-Self-Updater.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 WORKFLOW START\n\n**Triggers:**\n- Manual execution (test runs)\n- Automated every 3 days at 4 PM UTC\n\nThis workflow checks for n8n updates and sends an approval email, to automatically update the n8n instance.",
        "height": 288,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3456,
        -448
      ],
      "id": "6486fadd-3584-4544-9a02-57ede53e836b",
      "name": "Sticky Note 1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3120,
        -368
      ],
      "id": "683461fc-856d-41e8-9d49-9b725fa3a2fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47b24202-69ea-481a-8848-67de206ea3c0",
              "leftValue": "={{ $json.update_available }}",
              "rightValue": "=Download complete",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2000,
        -368
      ],
      "id": "ab507d4a-1a4c-49de-9b32-07f60969b0e7",
      "name": "If No Changes"
    },
    {
      "parameters": {
        "command": "=test -f update_docker.sh && echo true || echo false",
        "cwd": "/root"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -1328,
        -384
      ],
      "id": "bcdcdc19-e21c-48fb-80bb-014144c6fa6a",
      "name": "Check Existence of Update Script",
      "credentials": {
        "sshPassword": {
          "id": "09btBw3BAMtH8hXO",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cf2c480-a309-46bc-a0c4-c2cf9827822d",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        -384
      ],
      "id": "a9cbbad8-5f2f-411f-bc4a-62230e93c0e2",
      "name": "If File Exists"
    },
    {
      "parameters": {
        "command": "=echo -e 'sleep 30s\\ncd /opt/n8n-docker-caddy\\ndocker compose pull\\ndocker compose down\\ndocker compose up -d' > update_docker.sh && chmod +x update_docker.sh",
        "cwd": "/root"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -880,
        -304
      ],
      "id": "ba972070-a78a-4982-975f-7219f26571e3",
      "name": "Create Update Script",
      "credentials": {
        "sshPassword": {
          "id": "09btBw3BAMtH8hXO",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32c6b0f0-0747-47de-90e4-56ded46d3d34",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        -272
      ],
      "id": "12f9fcab-8bcb-4bea-8e66-69f5227fb7bf",
      "name": "If Approved"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1776,
        -464
      ],
      "id": "f3a6c807-0f12-45b6-bed7-ce4cbda4e42b",
      "name": "No Updates"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1328,
        -160
      ],
      "id": "3a90a6d9-b1b1-4f9b-8194-676dccbdb5a5",
      "name": "Do Nothing"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "fromEmail": "info@yourdomain.com",
        "toEmail": "youremail@yourdomain.com",
        "subject": "Approval Required for Updating n8n!",
        "message": "=<h2>🔔 n8n Update Available</h2>\n\n<p>A new version of n8n is available on Docker Hub!</p>\n\n<table style=\"border-collapse: collapse; width: 100%; margin: 20px 0;\">\n  <tr style=\"background-color: #f8f9fa;\">\n    <td style=\"padding: 12px; border: 1px solid #dee2e6; font-weight: bold;\">Current Version:</td>\n    <td style=\"padding: 12px; border: 1px solid #dee2e6;\">{{ $json.current_version }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 12px; border: 1px solid #dee2e6; font-weight: bold;\">New Version Available:</td>\n    <td style=\"padding: 12px; border: 1px solid #dee2e6; color: #28a745; font-weight: bold;\">Latest from Docker Hub</td>\n  </tr>\n  <tr style=\"background-color: #f8f9fa;\">\n    <td style=\"padding: 12px; border: 1px solid #dee2e6; font-weight: bold;\">Local Digest:</td>\n    <td style=\"padding: 12px; border: 1px solid #dee2e6; font-family: monospace; font-size: 11px;\">{{ $json.local_digest }}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 12px; border: 1px solid #dee2e6; font-weight: bold;\">Remote Digest:</td>\n    <td style=\"padding: 12px; border: 1px solid #dee2e6; font-family: monospace; font-size: 11px;\">{{ $json.remote_digest }}</td>\n  </tr>\n</table>\n\n<h3>📋 What happens if you approve?</h3>\n<ol>\n  <li>Pull the new n8n Docker image from Docker Hub</li>\n  <li>Restart the n8n container with the new version</li>\n</ol>\n\n<h3>🔧 Manual Update Option</h3>\n<p>If you prefer to update manually later, run these commands on your server:</p>\n<pre style=\"background-color: #f8f8f8; padding: 10px; border-radius: 4px; border: 1px solid #ddd;\">\ncd /opt/n8n-docker-caddy\ndocker compose pull\ndocker compose down\ndocker compose up -d\n</pre>\n\n<p><strong>Do you want to proceed with the automatic update?</strong></p>",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 3
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -1776,
        -272
      ],
      "id": "c1dbc70c-db44-4f5c-9854-64d34d9f114f",
      "name": "Ask For Approval to Update",
      "webhookId": "c1c2c77a-a3c1-4c4d-83e9-229dfc3b0903",
      "credentials": {
        "smtp": {
          "id": "7qY1U0ZUdM7HKciv",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔧 AUTOMATED UPDATE PROCESS\n\n**Three-step update execution:**\n\n1. **Check Script**: Verify if update script exists\n2. **Create Script** (if needed): Generate update script with:\n   - 30-second delay\n   - Navigate to docker directory\n   - Execute update commands\n3. **Execute**: Run script in background via `nohup`\n\n**The 60-second delay ensures this workflow completes before container restarts!**",
        "height": 432,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -992,
        -112
      ],
      "id": "0829b238-0c14-4be8-bbf1-edaa63016b51",
      "name": "Sticky Note - Auto Update"
    },
    {
      "parameters": {
        "content": "## 🎯 SCRIPT LOGIC\n\n**Optimizes script creation:**\n\n- If script exists → Use it directly\n- If script missing → Create new one\n\nPrevents unnecessary file operations and ensures idempotency.",
        "height": 248,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        -672
      ],
      "id": "c68450b6-ff97-4be4-932f-42dbabdab811",
      "name": "Sticky Note - Script Logic"
    },
    {
      "parameters": {
        "content": "## 🚀 FINAL EXECUTION\n\n**Runs in background:**\n\nExecutes `update_docker.sh` with:\n- `nohup`: Runs independently of this session\n- `> update.log`: Logs output for debugging\n- `2>&1`: Captures both stdout and stderr\n- `&`: Background execution\n\n**Workflow completes immediately, update happens 30 seconds later!**",
        "height": 328,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        -752
      ],
      "id": "277ab82a-701a-4edc-8def-1dab9165ebe2",
      "name": "Sticky Note - Final Execution"
    },
    {
      "parameters": {
        "command": "=nohup bash update_docker.sh > update.log 2>&1 &",
        "cwd": "/root"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -656,
        -400
      ],
      "id": "5a44fe76-5ca3-4477-9f5d-486c8abec4ab",
      "name": "Execute Update Script",
      "credentials": {
        "sshPassword": {
          "id": "09btBw3BAMtH8hXO",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "content": "# n8n-Self-Updater",
        "height": 1520,
        "width": 3104,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3536,
        -928
      ],
      "typeVersion": 1,
      "id": "9a65a79e-eb2e-4ad2-8920-fe6a4a8053c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "command": "docker inspect n8n-docker-caddy-n8n-1 --format='{{index .Image}}' | xargs docker inspect --format='{{index .RepoDigests 0}}'",
        "cwd": "/root"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -2672,
        -368
      ],
      "id": "9b195a5d-3057-4690-9a7f-63947349df7b",
      "name": "Get Local Image Digest",
      "credentials": {
        "sshPassword": {
          "id": "09btBw3BAMtH8hXO",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hub.docker.com/v2/repositories/n8nio/n8n/tags/latest",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2448,
        -368
      ],
      "id": "9f46efa6-bfa4-43cc-bc8b-50f4789bfc3f",
      "name": "Get Remote Image Digest"
    },
    {
      "parameters": {
        "content": "## 🔀 UPDATE CHECK\n\n**Checks if update exists:**\n\nCompares local vs remote digest:\n- If digests match → No update (top path)\n- If digests differ → Update available (bottom path)\n\n**Prevents unnecessary email notifications!**",
        "height": 264,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2224,
        -672
      ],
      "id": "b06e54b7-3760-46b6-b35b-95f74ea19ada",
      "name": "Sticky Note 9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "832662b6-8fe8-4849-870b-71d32bf88a46",
              "name": "current_version",
              "value": "={{ $('Get Current n8n Version').first().json.stdout }}",
              "type": "string"
            },
            {
              "id": "local-digest-assign",
              "name": "local_digest",
              "value": "={{ $('Get Local Image Digest').first().json.stdout.split('@')[1] }}",
              "type": "string"
            },
            {
              "id": "remote-digest-assign",
              "name": "remote_digest",
              "value": "={{ $('Get Remote Image Digest').first().json.digest }}",
              "type": "string"
            },
            {
              "id": "new-version-assign",
              "name": "update_available",
              "value": "={{ $('Get Local Image Digest').first().json.stdout.split('@')[1] !== $('Get Remote Image Digest').first().json.digest }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2224,
        -368
      ],
      "id": "ef630305-91e7-4d78-9a8d-a2729063ddb0",
      "name": "Prepare Update Data"
    },
    {
      "parameters": {
        "content": "## ⛔ NO UPDATES FOUND\n\nWorkflow ends when:\n- Local and remote digests match\n- Already running latest version\n\n**No unnecessary emails!**\n\nWorkflow completes silently.",
        "height": 224,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1840,
        -736
      ],
      "id": "71409d64-8391-4f08-8359-223728303c20",
      "name": "Sticky Note "
    },
    {
      "parameters": {
        "content": "## 🔍 GET CURRENT INFO\n\nRetrieves:\n1. Current n8n version\n2. Local image digest (RepoDigest)\n\nThis tells us what we're currently running.",
        "height": 248,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2864,
        -656
      ],
      "id": "1c01f1f9-5c06-41fd-a130-44c43f9a5c11",
      "name": "Sticky Note 2"
    },
    {
      "parameters": {
        "content": "## 🔎 CHECK REMOTE DIGEST\n\nQueries Docker Hub registry to get:\n- Remote image digest for :latest tag\n- WITHOUT pulling the image!\n\nUses Docker Registry HTTP API v2.",
        "height": 236,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2528,
        -144
      ],
      "id": "09ef5f83-d20d-489f-9199-aa1ce267427b",
      "name": "Sticky Note 4"
    },
    {
      "parameters": {
        "command": "=docker exec n8n-docker-caddy-n8n-1 n8n --version",
        "cwd": "/root"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -2896,
        -368
      ],
      "id": "0aaada39-31ce-49b8-8526-b22264de5092",
      "name": "Get Current n8n Version",
      "credentials": {
        "sshPassword": {
          "id": "09btBw3BAMtH8hXO",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📧 APPROVAL REQUEST\n\nSends email with:\n- Current version\n- Digest comparison\n- **Approve/Disapprove buttons**\n\nn8n stays exactly as-is until you click APPROVE!",
        "height": 232,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1888,
        -64
      ],
      "id": "9982be9b-af55-4364-a29a-d70dca2af86e",
      "name": "Sticky Note 5"
    },
    {
      "parameters": {
        "content": "## 🛑 UPDATE DECLINED\n\nWorkflow ends when:\n- User clicks **Decline**\n- Update will wait for next check or manual execution\n\n**Manual option always available!**\n\n```bash\ncd /opt/n8n-docker-caddy\ndocker compose pull\ndocker compose down\ndocker compose up -d\n```",
        "height": 360,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1408,
        0
      ],
      "id": "4cf50320-6d4a-4af1-ac91-941f8f2c7851",
      "name": "Sticky Note - Declined1"
    },
    {
      "parameters": {
        "content": "## 📊 WORKFLOW SUMMARY\n\n**Flow:**\n1. Get current version + local digest\n2. Get remote digest from Docker Hub\n3. Compare digests\n4. If different → Request approval with version info\n5. If approved → Pull and restart\n6. If same → Silent skip\n\n**Benefits:**\n- Bandwidth efficient\n- Clear version comparison\n- Manual approval control\n- No spam when no updates",
        "height": 408,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4080,
        -160
      ],
      "id": "69673ede-0abc-43ec-86ea-5ae72a6289d2",
      "name": "Sticky Note 6"
    },
    {
      "parameters": {
        "content": "## 🧩 SETUP REQUIREMENTS\n\n**1️⃣ SSH Credentials**\n- Go to *Credentials → New → SSH Password*\n- Enter:\n  - Host: your VPS IP (e.g., 165.22.xx.xx)\n  - Port: 22\n  - Username: root / ubuntu\n  - Password or Private Key\n\n\n**2️⃣ SMTP Credentials (Email)**\n- Go to *Credentials → New → SMTP*\n- Fill in:\n  - Host: smtp.yourprovider.com\n  - Port: 465 (SSL) / 587 (TLS)\n  - User: your email\n  - Password: email password or app password\n\n\n**3️⃣ Docker Server Setup**\n- Ensure Docker + docker-compose are installed\n- n8n is deployed via docker-compose (e.g., /opt/n8n-docker-caddy)\n\n\n**4️⃣ Workflow Setup**\n- Import the JSON workflow\n- Edit Email Node → update `fromEmail` & `toEmail`\n- Connect correct SSH + SMTP credentials\n- Enable Schedule Trigger (optional)\n\n✅ Once complete, test manually before activating auto checks.",
        "height": 704,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4080,
        -928
      ],
      "id": "b1613e0c-a14f-4903-96c3-dedd46423a25",
      "name": "Setup Requirements"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Current n8n Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If No Changes": {
      "main": [
        [
          {
            "node": "No Updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask For Approval to Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existence of Update Script": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists": {
      "main": [
        [
          {
            "node": "Execute Update Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Update Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Update Script": {
      "main": [
        [
          {
            "node": "Execute Update Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Check Existence of Update Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Do Nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask For Approval to Update": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Local Image Digest": {
      "main": [
        [
          {
            "node": "Get Remote Image Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Remote Image Digest": {
      "main": [
        [
          {
            "node": "Prepare Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Data": {
      "main": [
        [
          {
            "node": "If No Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current n8n Version": {
      "main": [
        [
          {
            "node": "Get Local Image Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0cf1013c00750bfab7ca7f6a76bf0e8c2407d7a4a9a4e66c4888ec456837f043"
  }
}
